AppxManifest.xml
app
build-droid
build-osx
build-ios
droid
export
out
poc-snd
*.a
*.apk
*.app
*.dylib
*.exe
*.flat
*.hlsl
*.ico
*.msix
*.o
*.pch
*.pdb
*.png
*.plist
*.res
*.spv
*.xcarchive
*.xcframework
